.service {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.service:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}